<form [formGroup]="employeeFormGroup" class="employee-form">
    <mat-form-field>
        <input matInput type="text" placeholder="First name" formControlName="first_name" required>
        <mat-hint align="end">The first name of the employee</mat-hint>
        <mat-error *ngIf="employeeFormGroup.controls.first_name.hasError('required')">First name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Last name" formControlName="last_name" required>
        <mat-hint align="end">The last name of the employee</mat-hint>
        <mat-error *ngIf="employeeFormGroup.controls.last_name.hasError('required')">Last name is required</mat-error>
    </mat-form-field>
    <app-date placeholder="Date of birth" formControlName="dob" hint="The date of birth of the employee"
              [required]="true"></app-date>
    <div *ngIf="age !== undefined">Age: {{age}} years</div>
    <mat-form-field>
        <mat-select placeholder="Department"
                    formControlName="department">
            <mat-option [value]="departmentOption.id"
                        *ngFor="let departmentOption of departmentOptions">{{departmentOption.name + " - " + departmentOption.description}}</mat-option>
        </mat-select>
        <mat-hint align="end">The department of the employee</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Projects"
                    formControlName="projects" multiple>
            <mat-option [value]="projectOption.id"
                        *ngFor="let projectOption of projectOptions">{{projectOption.name}}</mat-option>
        </mat-select>
        <mat-hint align="end">The projects of the employee</mat-hint>
    </mat-form-field>
    <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!employeeFormGroup.valid" (click)="createEmployee()">
            <span *ngIf="!employeeFormGroup.controls.id.value">Create</span>
            <span *ngIf="employeeFormGroup.controls.id.value">Update</span>
        </button>
    </mat-card-actions>
</form>
