<mat-toolbar>
    <span>Company Manager</span>
</mat-toolbar>

<mat-toolbar class="menu-bar" *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="rootMenu">
        <mat-icon aria-hidden="false" aria-label="menu icon">menu</mat-icon>
    </button>
    <mat-menu #rootMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="subMenuList">List</button>
        <button mat-menu-item [matMenuTriggerFor]="subMenuCreate">Create</button>
    </mat-menu>
    <mat-menu #subMenuList="matMenu">
        <button mat-menu-item routerLink="department-list">Departments</button>
        <button mat-menu-item routerLink="employee-list">Employees</button>
        <button mat-menu-item routerLink="project-list">Projects</button>
    </mat-menu>
    <mat-menu #subMenuCreate="matMenu">
        <button mat-menu-item routerLink="department-form">Department</button>
        <button mat-menu-item routerLink="employee-form">Employee</button>
        <button mat-menu-item routerLink="project-form">Project</button>
    </mat-menu>
    <app-logout></app-logout>
</mat-toolbar>

<mat-drawer-container autosize>
    <button type="button" mat-button (click)="drawer.toggle()" *ngIf="isLoggedIn">
        <mat-icon aria-hidden="false" aria-label="sidebar icon">apps</mat-icon>
    </button>
    <mat-drawer #drawer mode="side">
        <mat-expansion-panel *ngIf="isLoggedIn">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>List</span>
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button routerLink="department-list">Departments</button>
            <button mat-button routerLink="employee-list">Employees</button>
            <button mat-button routerLink="project-list">Projects</button>
        </mat-expansion-panel>

        <p>Random usage of different Material components</p>
    </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>



